<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Tour</title>
</head>
<body>
<div align="center">

    <h1 style="color: blue">Create New Tour</h1>

    <form action="#" th:action="@{/save}" method="post" th:object="${tour}" >
        <label>Tour Description</label>
        <input type="text" th:field="*{description}"><br><br>
        <label>Tour Begin Date</label>
        <input type="text" th:field="*{beginDate}"><br><br>
        <label>Tour End Date</label>
        <input type="text" th:field="*{endDate}"><br><br>
        <label>Tour Price</label>
        <input type="text" th:field="*{price}"><br><br>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>